In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Business Understading

## Data Understading

### Read in the Data

In [20]:
# load dataset
data = pd.read_csv('Dataset/Incident_Management_CSV.csv', sep=';')

In [21]:
data.head()

,Case ID,Variant,Priority,Reporter,Timestamp,Event,Issue Type,Resolver,Report Channel,Short Description,Customer Satisfaction
0,INC0001,Variant 4,Medium,Alice,17/11/2023 11:17,Ticket created,Performance Issue,NaN,Website,Application crash,3
1,INC0001,Variant 4,Medium,Alice,17/11/2023 13:30,Ticket assigned to level 1 support,Performance Issue,Sam,Website,Application crash,3
2,INC0001,Variant 4,Medium,Alice,17/11/2023 14:06,WIP - level 1 support,Performance Issue,Sam,Website,Application crash,3
3,INC0001,Variant 4,Medium,Alice,17/11/2023 16:52,Level 1 escalates to level 2 support,Performance Issue,Michael,Website,Application crash,3
4,INC0001,Variant 4,Medium,Alice,17/11/2023 18:07,WIP - level 2 support,Performance Issue,Emma,Website,Application crash,3

### Understand Features

In [30]:
# number of rows and columns
data.shape

(242901, 11)

In [24]:
# describe data
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242901 entries, 0 to 242900
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Case ID                242901 non-null  object
 1   Variant                242901 non-null  object
 2   Priority               242901 non-null  object
 3   Reporter               242901 non-null  object
 4   Timestamp              242901 non-null  object
 5   Event                  242901 non-null  object
 6   Issue Type             242901 non-null  object
 7   Resolver               146405 non-null  object
 8   Report Channel         242901 non-null  object
 9   Short Description      242901 non-null  object
 10  Customer Satisfaction  242901 non-null  int64
dtypes: int64(1), object(10)
memory usage: 20.4+ MB

       Customer Satisfaction
count          242901.000000
mean                3.233828
std                 1.161075
min                 1.000000
25%                 3.000000
50%                 3.000000
75%                 4.000000
max                 5.000000

In [26]:
# count null values in each column
print(data.isnull().sum().sort_values())

Case ID                      0
Variant                      0
Priority                     0
Reporter                     0
Timestamp                    0
Event                        0
Issue Type                   0
Report Channel               0
Short Description            0
Customer Satisfaction        0
Resolver                 96496
dtype: int64

In [27]:
# percentage of missing values in each column
print(data.isna().mean().sort_values().round(4) * 100)

Case ID                   0.00
Variant                   0.00
Priority                  0.00
Reporter                  0.00
Timestamp                 0.00
Event                     0.00
Issue Type                0.00
Report Channel            0.00
Short Description         0.00
Customer Satisfaction     0.00
Resolver                 39.73
dtype: float64

In [28]:
# check for unique values in all columns
data.nunique(dropna=True).sort_values()

Priority                      3
Report Channel                4
Reporter                      5
Customer Satisfaction         5
Issue Type                    7
Short Description             8
Resolver                      9
Variant                      13
Event                        18
Case ID                   31588
Timestamp                194657
dtype: int64